<h3> Welcome, <%=current_user.username %>!! </h3>
<%= @profile.followers %>
<%= @profile.following %><br>
<%= @profile.num_starred_repos %><br><br>
<%= @profile.recent_activity %><br><br>
<!-- <%#= @profile.profile_picture %><br><br> -->
<%= @profile.organizations %><br>
